<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %} {% block header %} {% include "partials/header-no-navigation.html" %} {% endblock header %} {% block body %}
<div>
  <!-- Hero Section -->
  {% module "hero_section_unique" path="../modules/hero.module" %}

  <!-- Providers Section -->

  <section id="providers" class="providers-section">
    <h2>Nuestros Proveedores</h2>
    {% module "providers_list_unique" path="../modules/providers.module" %}
  </section>

  <!-- Newsletter -->
  {% module "newsletter_unique" path="../modules/newsletter.module" %}
</div>
{% endblock body %} {% block footer %} {% endblock footer %}
